* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 18px;
}

:root {
  /* ### Primary */
  /* (active input border) */
  --Linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
  /* (input errors) */
  --Red: hsl(0, 100%, 66%);

  /* ### Neutral */

  --White: hsl(0, 0%, 100%);
  --Light-grayish-violet: hsl(270, 3%, 87%);
  --Dark-grayish-violet: hsl(279, 6%, 55%);
  --Very-dark-violet: hsl(278, 68%, 11%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
